<div id="navbar">
    <div class="innerNavbarBox1">
        <div>
            <i class="fa-solid fa-bars-staggered" id="bar"></i>
        </div>
        <div id="cartBox">
            <a href="/user/<%=user._id%>/cart"><i class="fa-solid fa-cart-shopping" id="cart"></i></a>
        </div>
    </div>
    <div class="innerNavbarBox2">
        <ul id="menuItemContainer">
            <a href="/user/<%=user._id%>/" class="menuItem"><li >Home</li></a>
            <a href="/user/category" class="menuItem"><li >Category</li></a>
            <a href="/user/<%=user._id%>/orderHistory" class="menuItem"><li >Order History</li></a>
            <a href="/user/<%=user._id%>/orderStatus" class="menuItem"><li >Order Status</li></a>
            <a href="/user/<%=user._id%>/cart" class="menuItem"><li >Cart</li></a>
            <a href="/user/bestSelling" class="menuItem"><li >Best Selling</li></a>
            <a href="/user/signout" class="menuItem"><li >Sign Out</li></a>
            <a href="/user/signup" class="menuItem"><li >Sign Up</li></a>
        </ul>
    </div>
</div>