<% layout('./boilerplates/layout') %>

    <body onload="loadCategoryMenuListCartInfo()">
        <div id="heroSection">
            <p>Explore</p>
            <p>Pizza Menu's</p>
        </div>
        <%- include('./includes/searchbar.ejs') %>
            <div id="categoryMenuListMainContainer">
                <%if(menus.length>0){%>
                    <%for(menu of menus) {%>
                        <div class="categoryMenuListBox">
                            <a class="categoryMenuListInnerBox1" href="/user/menu/<%=menu._id%>">
                                <img src="<%=menu.menuImg%>" alt="">
                            </a>
                            <div class="categoryMenuListInnerBox2">
                                <a class="categoryMenuListBoxMenuInfo" href="/user/menu/<%=menu._id%>">
                                    <p class="categoryMenuListBoxMenuTitle"><%=menu.menuName%> <%if(menu.type=='veg'){%>
                                         <img src="/assets/veg.png" alt="veg" width="40px" style="margin-left: 5px; margin-top: 5px; display: block;"><%}else if(menu.type=='nonVeg'){%><img src="/assets/nonVeg.png" alt="veg" width="40px" style="margin-left: 5px; margin-top: 5px; display: block;"><%}%></p>
                                    <p class="categoryMenuListBoxMenuDescription">
                                        <%=menu.description.slice(0,100)%>....
                                    </p>
                                </a> 
                                <div class="categoryMenuListBoxMenuPriceSection">
                                    <div>
                                        <i class="fa-solid fa-indian-rupee-sign"></i><span><%=menu.fullFrontPrice%>/F</span>
                                    </div>
                                    <div>
                                        <button><i class="fa-solid fa-plus cartStatus" cart="removed" menuId="<%=menu._id%>"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}%>
                <%}else {%>
                    <h1 style="font-size: 2rem;">No Menu Available Of This Category</h1>
                    <%}%>
            </div>
    </body> 