<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/pendingOrdersPage.css">
    <link rel="stylesheet" href="/css/completedOrdersPage.css">
</head>

<body>
    <div id="adminMainContainer">
        <div id="adminNavBarContainer">
            <div id="adminNavBar">
                <a class="adminMenus" href="/admin/<%=admin._id%>/profile">
                    <i class="fa-solid fa-user"></i>
                </a>
                <a class="adminMenus" href="/admin/<%=admin._id%>">
                    <i class="fa-solid fa-chart-line"></i>
                </a>
                <a class="adminMenus" href="/admin/pending">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                </a>
                <a class="adminMenus" href="/admin/completed">
                    <i class="fa-solid fa-list-check"></i>
                </a>
                <a class="adminMenus" href="/admin/menu">
                    <i class="fa-solid fa-circle-plus"></i>
                </a>
                <a class="adminMenus" href="/admin/menu/edit">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a class="adminMenus" href="/admin/signout">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </a>
            </div>
        </div>
        <div id="adminDashboardContainer">
            <div id="adminDashboarNavContainer">
                <i class="fa-brands fa-slack"></i>
                <p>Dashboard</p>
            </div>
            <div id="adminPanelPendingOrdersMainContainer">
                <p >Completed Orders</p>
                <div id="adminPanelPendingOrdersInnerContainer">

                    <% for(order of orders) {%>
                        <div class="pendingOrdersBox">
                            <div class="pendingOrdersBoxMenuImg">
                                <img src="<%=order.menuId.menuImg%>" alt="menu image">
                            </div>
                            <div class="pendingOrdersBoxAllDetails">
                                <div class="pendingOrdersBoxOrderDetails">
                                    <div>
                                        <span>Order Details</span>
                                    </div>
                                    <div>
                                        <p class="pendingOrdersPageMenuName"><%=order.menuId.menuName%></p>
                                        <div>
                                            <%if(order.isFullPlate){%>
                                                <span>Type : Full</span>
                                            <%}else{%>
                                                <span>Type : Half</span>
                                                <%}%>
                                            <span>Qnty : <%=order.qnty%></span>
                                            <span>,<%=order.orderCompleteDate%></span>
                                            <%if(order.menuId.type=='veg'){%>
                                                <button>veg</button>
                                            <%}else{%>
                                                <button>non-veg</button>
                                                <%}%>
                                        </div>
                                    </div>
                                </div>
                                <div class="pendingOrdersBoxCustomerDetails">
                                    <div>
                                        Customer Details
                                    </div>
                                    <div>
                                        <p><%=order.userId.name%></p>
                                        <p>, Mob No :<%=order.userId.mobileNumber%></p>
                                    </div>
                                </div>
                                <div class="pendingOrdersBoxControls">
                                    <div>
                                        <button>Completed</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%}%>

                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/7e49fc305e.js" crossorigin="anonymous"></script>
    <script src="/js/completedOrdersPage.js"></script>
</body>
</html> 