<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/pendingOrdersPage.css">
    <link rel="stylesheet" href="/css/addMenuFormPage.css">
</head>

<body>
    <div id="adminMainContainer">
        <div id="adminNavBarContainer">
            <div id="adminNavBar">
                <a class="adminMenus" href="/admin/<%=admin._id%>/profile">
                    <i class="fa-solid fa-user"></i>
                </a>
                <a class="adminMenus" href="/admin/<%=admin._id%>">
                    <i class="fa-solid fa-chart-line"></i>
                </a>
                <a class="adminMenus" href="/admin/pending">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                </a>
                <a class="adminMenus" href="/admin/completed">
                    <i class="fa-solid fa-list-check"></i>
                </a>
                <a class="adminMenus" href="/admin/menu">
                    <i class="fa-solid fa-circle-plus"></i>
                </a>
                <a class="adminMenus" href="/admin/menu/edit">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </div>
        </div>
        <div id="adminDashboardContainer">
            <div id="adminDashboarNavContainer">
                <i class="fa-brands fa-slack"></i>
                <p>Dashboard</p>
            </div>
            <div id="addMenuFormPageMainContainer">
                <p>Edit Menu</p>
                <form id="addMenuForm" method="post" enctype="multipart/form-data" action="/admin/menu/<%=menu._id%>/edit?_method=PUT">
                    <div class="addMenuFormControls">
                        <label for="">Menu Name</label>
                        <input type="text" name="menuName" value="<%=menu.menuName%>" required>
                    </div>
                    <div class="addMenuFormTwiceControls">
                        <div class="addMenuFormControls">
                            <label for="">Full Front Price ( <i class="fa-solid fa-indian-rupee-sign"></i> )</label>
                            <input type="number" name="fullFrontPrice" value="<%=menu.fullFrontPrice%>" required>
                        </div>
                        <div class="addMenuFormControls">
                            <label for="">Full Back Price ( <i class="fa-solid fa-indian-rupee-sign"></i> )</label>
                            <input type="number" name="fullBackPrice" value="<%=menu.fullBackPrice%>" required>
                        </div>
                    </div>
                    <div class="addMenuFormTwiceControls">
                        <div class="addMenuFormControls">
                            <label for="">Half Front Price ( <i class="fa-solid fa-indian-rupee-sign"></i> )</label>
                            <input type="number" name="halfFrontPrice" value="<%=menu.halfFrontPrice%>" required>
                        </div>
                        <div class="addMenuFormControls">
                            <label for="">Half Back Price ( <i class="fa-solid fa-indian-rupee-sign"></i> )</label>
                            <input type="number" name="halfBackPrice" value="<%=menu.halfBackPrice%>" required>
                        </div>
                    </div>
                    <div class="addMenuFormTriceControls">
                        <div class="addMenuFormDropDownControls">
                            <label for="">Category</label>
                            <select name="category" id="category">
                                <option value="rice">Rice</option>
                                <option value="noodle">Noodle</option>
                                <option value="pizza">Pizza</option>
                                <option value="burger">Burger</option>
                                <option value="drink">Drink</option>
                                <option value="sandwich">Sandwich</option>
                            </select>
                        </div>
                        <div class="addMenuFormDropDownControls">
                            <label for="">Type</label>
                            <select name="type" id="type">
                                <option value="veg">Veg</option>
                                <option value="nonVeg">Non-Veg</option>
                            </select>
                        </div>
                        <div class="addMenuFormDropDownControls">
                            <label for="">Is Best Selling</label>
                            <select name="isBestSelling" id="isBestSelling">
                                <option value="true">Yes</option>
                                <option value="false" selected>No</option>
                            </select>
                        </div>
                    </div>
                    <div class="addMenuFormTextAreaControls">
                        <label for="">Description</label>
                        <textarea name="description" id="description" required><%=menu.description%></textarea>
                    </div>
                    <div class="addMenuFormTextAreaControls">
                        <label for="">Ingredients</label>
                        <textarea name="ingredient" id="ingredient" required><%=menu.ingredient%></textarea>
                    </div>
                    <div class="addMenuFormUploadImgCotrols">
                        <label for="">Select Menu Imgae</label>
                        <input type="file" name="menuImg" id="menuImg">
                    </div>
                    <div class="addMenuFormBtnControls">
                        <button type="submit" id="addMEnuFormSubmitBtn">Edit a Menu</button>
                    </div>
                </form>
                <form id="addMenuForm" action="/admin/menu/<%=menu._id%>/edit?_method=DELETE" method="post">
                    <div class="addMenuFormBtnControls">
                        <button type="submit" id="addMEnuFormSubmitBtn" style="background-color: brown;">Delete a Menu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        const menu = <%-JSON.stringify(menu)%>
    </script>
    <script src="https://kit.fontawesome.com/7e49fc305e.js" crossorigin="anonymous"></script>
    <script src="/js/pendingOrdersPage.js"></script>
    <script src="/js/editMenuFormPage.js"></script>
</body>

</html>