<% layout('./boilerplates/layout') %>

    <body onload="loadHomeCartInfo()" style="overflow: hidden;height:100vh;">
        <div id="heroSection">
            <p>Delicious</p>
            <p>Food menu</p>
        </div>
        <%- include('./includes/searchbar.ejs') %>
        <div style="overflow: auto;height: 100vh;">
        <div id="categorySection">
            <p class="subHeading">Category</p>
            <div>
                <a href="/user/category/pizza" class="categoryBox">
                    <div>
                        <img src="/assets/pizza.png" alt="">
                    </div>
                    <div>
                        <p>Pizza</p>
                    </div>
                </a> 

                <a href="/user/category/burger" class="categoryBox">
                    <div>
                        <img src="/assets/burger.png" alt="">
                    </div>
                    <div>
                        <p>Burger</p>
                    </div>
                </a>

                <a href="/user/category/sandwich" class="categoryBox">
                    <div>
                        <img src="/assets/sandwichh.png" alt="">
                    </div>
                    <div>
                        <p>sandwich</p>
                    </div>
                </a>

                <a href="/user/category/drink" class="categoryBox">
                    <div>
                        <img src="/assets/drink.png" alt="">
                    </div>
                    <div>
                        <p>Drink</p>
                    </div>
                </a>

                <a href="/user/category/rice" class="categoryBox">
                    <div>
                        <img src="/assets/pizza.png" alt="">
                    </div>
                    <div>
                        <p>Rice</p>
                    </div>
                </a> 

                <a href="/user/category/noodle" class="categoryBox">
                    <div>
                        <img src="/assets/burger.png" alt="">
                    </div>
                    <div>
                        <p>Noodle</p>
                    </div>
                </a>
            </div>
        </div>
        <div id="popularSection">
            <p class="subHeading">Best Selling</p>
            <div id="popularSectionMainContainer">
                <% if(menus.length>0){%>
                    <% for(menu of menus){%>
                        <div class="popularSectionMenuItemBox">
                            <a href="/user/menu/<%=menu._id%>">
                                <div class="likeSection">
                                    <i class="fa-solid fa-heart" style="color: #ff0033;"></i>
                                    <span>34</span>
                                </div>
                                <div class="imageSection">
                                    <img src="<%=menu.menuImg%>" alt="img">
                                </div>
                                <div class="itemDescriptionSection">
                                    <p><%=menu.menuName.toUpperCase().slice(0,12)%>...</p>
                                </div>
                            </a>
                            <div class="priceSection">
                                <span class="addToCartBtn">
                                    <i class="fa-solid fa-plus cartStatus" cart="removed"  menuId="<%=menu._id%>"></i>
                                </span>
                                <span>
                                    <i class="fa-solid fa-indian-rupee-sign"></i><span><%=menu.fullFrontPrice%></span>
                                </span>
                            </div>
                        </div>
                    <%}%>
                <%}else { %>
                    <p>NO BEST SELLING MENU'S AVAILABLE</p>
                    <%}%>
            </div> 
        </div>
    </div>
    </body> 