<% layout('./boilerplates/layout') %>
<body>
    <div id="individualMenuPageMainContainer">
        <a href="/user" id="individualMenuPageMainContainerBackBtn"><i class="fa-solid fa-square-caret-left" style="color: #ffffff;"></i></a>
        <div id="individualMenuPageMenuImg">
            <img src="<%=menu.menuImg%>" alt="menuImg">
        </div>
        <div id="individualMenuPageTitleAndPriceContainer">
            <p><%=menu.menuName.charAt(0).toUpperCase()%><%=menu.menuName.slice(1)%></p>
            <div>
                <p><i class="fa-solid fa-indian-rupee-sign"></i><%=menu.fullFrontPrice%>/F ,</p><p><i class="fa-solid fa-indian-rupee-sign"></i><%=menu.halfFrontPrice%>/H</p>
            </div>
        </div>
        <div id="individualMenuPageDetailsAndIngredientsContainer">
            <div>
                <span id="DetailsBtn">Description</span>
                <span id="IngredientsBtn">Ingregients</span>
            </div>
            <div>
                <p id="DetailsContent">
                    <%=menu.description%>
                </p> 
                <p id="IngredientsContent">
                    <%=menu.ingredient%>
                </p> 
            </div>
        </div>
        <div id="individualMenuPageAddToCartContainer">
            <button id="individualMenuPageAddToCartContainerAddToCartBtn" cart="removed" menuId="<%=menu._id%>">Add to cart</button>
        </div>
    </div>
</body>
