<% layout('./boilerplates/layout') %>

    <body style="overflow: hidden;">
        <div id="heroSection">
            <p>current</p>
            <p>Order Status</p>
        </div>
        <div id="orderHistoryPageMainContainer" style="overflow-y: auto; height: 80vh; padding-top: 10px;">
            <% if(orders && orders.length>0){%>
                <% for(order of orders) {%>
                    <div class="categoryMenuListBox">
                        <div class="categoryMenuListInnerBox1">
                            <img src="<%=order.menuId.menuImg%>" alt="menu img">
                        </div>
                        <div class="categoryMenuListInnerBox2">
                            <div class="categoryMenuListBoxMenuInfo">
                                <p class="categoryMenuListBoxMenuTitle">
                                    <%=order.menuId.menuName%>
                                        <%if(order.menuId.type==='veg'){%><img src="/assets/veg.png" alt="veg"
                                                width="40px" style="margin-left: 5px; margin-top: 5px; display: block;">
                                            <%}else{%>
                                                <img src="/assets/nonVeg.png" alt="veg" width="40px"
                                                    style="margin-left: 5px; margin-top: 5px; display: block;">
                                                <%}%>
                                </p>
                                <p class="categoryMenuListBoxMenuDescription">Qnty : <%=order.qnty%>
                                </p>
                            </div>
                            <div class="categoryMenuListBoxMenuPriceSection">
                                <div>
                                    <i class="fa-solid fa-indian-rupee-sign"></i>
                                    <%if(order.isFullPlate){%>
                                        <span>
                                            <%=order.menuId.fullFrontPrice*order.qnty%>/F
                                        </span>
                                        <%}else{%>
                                            <span>
                                                <%=order.menuId.halfFrontPrice*order.qnty%>/H
                                            </span>
                                            <%}%>
                                </div>
                                <div>
                                    <%if(order.isComplete){%>
                                        <button class="DeleteItemFromOrderHistoryBtn" orderId="<%=order._id%>"
                                            onclick="deleteOrder(this)"><i class="fa-solid fa-trash"
                                                style="color: #ffffff;"></i></button>
                                        <button class="orderCompleteStatusBtn"><i
                                                class="fa-solid fa-circle-check"></i></button>
                                        <%}else if(order.isCancel){%>
                                            <button class="DeleteItemFromOrderHistoryBtn" orderId="<%=order._id%>"
                                                onclick="deleteOrder(this)"><i class="fa-solid fa-trash"
                                                    style="color: #ffffff;"></i></button>
                                            <button class="orderCanceledStatusBtn"><i class="fa-solid fa-ban"
                                                    style="color: #ffffff;"></i></button>
                                            <%}else{%>
                                                <button class="orderPendingStatusBtn"><i
                                                        class="fa-solid fa-clock"></i></button>
                                                <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%}%>
                        <%}else{%>
                            <h1>No Orders</h1>
                            <%}%>
        </div>
        <script>
            setInterval(() => {
                window.location.reload();
            }, 60000);
        </script>
    </body>