<% layout('./boilerplates/layout') %>

    <body style="overflow: hidden;">
        <div id="heroSection">
            <p>your's</p>
            <p>Order History</p>
        </div>
        <div id="orderHistoryPageMainContainer" style="overflow-y: auto; height: 80vh; padding-top: 10px;">
            <%if(orders && orders.length>0){%>
                <%for(order of orders){%>
                    <div class="categoryMenuListBox">
                        <div class="categoryMenuListInnerBox1">
                            <img src="<%=order.menuId.menuImg%>" alt="menu image">
                        </div>
                        <div class="categoryMenuListInnerBox2">
                            <div class="categoryMenuListBoxMenuInfo">
                                <p class="categoryMenuListBoxMenuTitle">
                                    <%=order.menuId.menuName%>
                                        <%if(order.menuId.type==='veg'){%>
                                            <img src="/assets/veg.png" alt="veg" width="40px"
                                                style="margin-left: 5px; margin-top: 5px; display: block;">
                                            <%}else{%>
                                                <img src="/assets/nonVeg.png" alt="veg" width="40px"
                                                    style="margin-left: 5px; margin-top: 5px; display: block;">
                                                <%}%>
                                </p>
                                <p class="categoryMenuListBoxMenuDescription">Qnty : <%=order.qnty%>
                                </p>
                            </div>
                            <div class="categoryMenuListBoxMenuPriceSection">
                                <div>
                                    <%if(order.isFullPlate){%>
                                        <i class="fa-solid fa-indian-rupee-sign"></i><span>
                                            <%=order.menuId.fullFrontPrice*order.qnty%>/F
                                        </span>
                                        <%}else{%>
                                            <i class="fa-solid fa-indian-rupee-sign"></i><span>
                                                <%=order.menuId.halfFrontPrice*order.qnty%>/H
                                            </span>
                                            <%}%>
                                </div>
                                <div>
                                    <button class="DeleteItemFromOrderHistoryBtn" orderId="<%=order._id%>"
                                        onclick="deleteOrder(this)"><i class="fa-solid fa-trash"
                                            style="color: #ffffff;"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%}%>
            <%}else{%>
                <h1>No Order</h1>
            <%}%>
        </div>
    </body>